# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve

!includedir /etc/my.cnf.d

# ssl-ca=/var/opt/mysql_certs/CA.crt
# ssl-cert=/var/opt/mysql_certs/directory-db.crt
# ssl-key=/var/opt/mysql_certs/directory-db.key
wait_timeout=2628000
max_allowed_packet=10000M
port=3310